<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>485084509461-dbb57l440eic0deoeig27jllpjt1dujl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485084509461-dbb57l440eic0deoeig27jllpjt1dujl</string>
	<key>API_KEY</key>
	<string>AIzaSyAPsnY1SP14gmrvkaW_T6TIHIReP2Zq6Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>485084509461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulsantangelo.finDB</string>
	<key>PROJECT_ID</key>
	<string>findb-fcecd</string>
	<key>STORAGE_BUCKET</key>
	<string>findb-fcecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485084509461:ios:4692f68f0aae692a</string>
	<key>DATABASE_URL</key>
	<string>https://findb-fcecd.firebaseio.com</string>
</dict>
</plist>